@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aplicar zoom del 80% en pantallas grandes (1280px y más) */
@media (min-width: 1280px) {
  body {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -moz-transform-origin: 0 0;
  }
}
